<!DOCTYPE html>
<html>
  <head>
    <title>ProfitoCms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <div id="page-content-wrapper">
        <% if notice %>
          <div class="notice alert-dismissible">
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-dismissible">
            <%= alert %>
          </div>
        <% end %>
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
